body, html {
    width:100%; 
    height:100%;
}

.menu {
	/*float:left;*/
	position: absolute;
	top: 8px;
	left: 8px;
	/*margin: 8px;*/
	background: #fff;
	opacity: 0.9;
	padding: 8px;
	border: 2px black solid;
	border-radius: 5px;
	font: 15px normal Arial, Helvetica, sans-serif;
	width: 200px;
}

ul.mainmenu {
	width: 100%;
	list-style-type: none;
	padding-left: 1em;
}

ul.mainmenu li {
	width: 100%;
	padding-bottom: .5em;
}

ul.mainmenu li a {
	width: 100%;
	color: #1d1d1d;
}

ul.mainmenu li a:hover {
	width: 100%;
	color: #776557;
/*	background: rgba(25, 25, 25, .1);*/
}

.content {
	/*float: left; */
	/*width: 800px;*/
	position: absolute;
	top: 0px;
	left: 225px;
	margin: 8px;
	background: #fff;
	opacity: 0.8;
	padding: 8px;
	border: 2px black solid;
	border-radius: 5px;
	font: 15px normal Arial, Helvetica, sans-serif;
}

div.sample-status {
	position: relative;
	margin-left: 2em;
	width: 400px;
	border-radius: 10px;
	text-align: center;
	height: relative;
}
