{% extends "sitebase.html" %}
{% block head %}
<script src="/static/vendor/js/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script>
    $(document).ready(function(){
        // Initialize form validation on the registration form.
        $("form[name='single_kit_form']").validate({
            rules: {
                kit_id: "required",
                user_barcode: {
                    required: function(element) {
                        return !$("#generate_barcode_single").is(':checked');
                    }
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });

        $("form[name='multiple_kits_form']").validate({
            rules: {
                kit_ids: "required",
                barcodes_file: {
                    required: function(element) {
                        return !$("#generate_barcodes_multiple").is(':checked');
                    }
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });

        // Toggle form visibility
        $('#single_kit_button').click(function() {
            $('#single_kit_form').show();
            $('#multiple_kits_form').hide();
        });
        $('#multiple_kits_button').click(function() {
            $('#multiple_kits_form').show();
            $('#single_kit_form').hide();
        });

        // Track which button was clicked
        $("input[type='submit']").click(function() {
            $("input[type='submit']", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });
    });

    function setBarcodeFromList() {
        var barcodeList = document.getElementById("barcodeList");
        if (barcodeList && barcodeList.children.length > 0) {
            var barcode = barcodeList.children[0].innerText;
            document.getElementById("user_barcode").value = barcode;
        } else {
            alert("No barcodes to generate");
        }
    }
</script>
{% endblock %}

{% block content %}
<h3>Add Barcode to Kit(s)</h3>
<style>
    select {
        width: 250px;
        margin: 10px;
    }
</style>
<div style="height: 335px;">
    {% if error_message %}
        <p style="color:red">
            {{ error_message |e }}
        </p>
    {% endif %}

    <button id="single_kit_button">Add Barcode to Single Kit</button>
    <button id="multiple_kits_button">Add Barcodes to Multiple Kits</button>

    <form name="single_kit_form" id="single_kit_form" method="POST" style="display:none;">
        <table>
            <tr>
                <td><label for="kit_ids">Kit ID: </label></td>
                <td><input type="text" name="kit_ids" id="kit_ids" required></td>
            </tr>
            <tr>
                <td><label for="user_barcode">Enter barcode: </label></td>
                <td><input type="text" name="user_barcode" id="user_barcode"></td>
            </tr>
            <tr>
                <td><label for="generate_barcode_single">Or generate barcode: </label></td>
                <td><input type="checkbox" name="generate_barcode_single" id="generate_barcode_single"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="add_single_barcode" value="Add Barcode"></td>
            </tr>
        </table>
    </form>
    {% if barcodes %}
        <ul>
            {% for barcode in barcodes %}
                <span>You added {{ barcode }} to Kit ID {{ kit_id }}</span><br>
            {% endfor %}
        </ul>
    {% endif %}
    <form name="multiple_kits_form" id="multiple_kits_form" method="POST" enctype="multipart/form-data" style="display:none;">
        <table>
            <tr>
                <td><label for="kit_ids">Upload Kit IDs: </label></td>
                <td><input type="file" name="kit_ids" id="kit_ids" required></td>
            </tr>
            <tr>
                <td><label for="barcodes_file">Upload Barcodes: </label></td>
                <td><input type="file" name="barcodes_file" id="barcodes_file"></td>
            </tr>
            <tr>
                <td><label for="generate_barcodes_multiple">Or generate barcodes: </label></td>
                <td><input type="checkbox" name="generate_barcodes_multiple" id="generate_barcodes_multiple"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="add_multiple_barcodes" value="Add Barcodes"></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
