{% extends "sitebase.html" %}
{% block head %}
<script src="/static/vendor/js/jquery.validate.min.js"></script>
<script>
    $(document).ready(function(){
        $("form[name='kit_form']").validate({
            rules: {
                num_kits: "required",
                num_samples: "required",
                project_ids: "required",
                submitHandler: function (form) {
                    form.submit();
                }
            }
        });

        $("#num_samples, #num_kits").on("change", function() {
            var numSamples = $("#num_samples").val();
            var numKits = $("#num_kits").val();
            var totalSamples = numSamples * numKits;
            var newSections = "";
            for (var i = 1; i <= totalSamples; i++) {
                newSections += `<div class="sample-section">
                                    <p>Sample ${i}</p>
                                    <label for="upload_csv_${i}">Upload CSV file of Barcodes:</label>
                                    <input type="file" name="upload_csv_${i}" id="upload_csv_${i}">
                                    <br>
                                    <label for="generate_barcodes_${i}">Generate Barcodes</label>
                                    <input type="checkbox" name="generate_barcodes_${i}" id="generate_barcodes_${i}">
                                </div>`;
            }
            $("#sample_sections").html(newSections);
        });

        $("#num_samples").val(1).trigger('change'); // Default value to 1 on page load
    });
</script>
<style>
    select {
        width: 250px;
        margin: 10px;
    }
    .sample-section {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0;
    }
</style>
{% endblock %}
{% block content %}
<h3>Microsetta Create Kits</h3>
<div style="height: 600px;">
    {% if error_message %}
        <p style="color:red">
            {{ error_message |e }}
        </p>
    {% endif %}

    <form name="kit_form" id="kit_form" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="num_kits">Number of kits: </label></td>
                <td><input type="number" name="num_kits" id="num_kits" min="1"></td>
            </tr>
            <tr>
                <td><label for="num_samples">Samples per kit: </label></td>
                <td><input type="number" name="num_samples" id="num_samples" min="1" value="1"></td>
            </tr>
            <tr>
                <td><label for="prefix">Kit name prefix (optional): </label></td>
                <td><input type="text" name="prefix" id="prefix"></td>
            </tr>
            <tr>
                <td><label for="project_ids">Projects: </label></td>
                <td><select id="project_ids" name="project_ids" multiple class="chosen-select" size=10>
                    {% if projects %}
                    {% for p in projects %}
                    <option value='{{p['project_id']}}'>{{p['project_name']}}</option>
                    {% endfor %}
                    {% endif %}
                </select></td>
            </tr>
        </table>
        <br>
        <div id="sample_sections"></div>
        <br>
        <input type="submit" value="Create kits">
    </form>
</div>
{% endblock %}
