{% extends "sitebase.html" %}
{% block head %}
<script src="/static/vendor/js/jquery.validate.min.js"></script>
<script>
    $(document).ready(function(){
        $("form[name='kit_form']").validate({
            rules: {
                number_of_kits: "required",
                number_of_samples: "required",
                project_ids: "required",
                submitHandler: function (form) {
                    form.submit();
                }
            }
        });

        function adjustContainerHeight() {
            var numSamples = $("#number_of_samples").val();
            var containerHeight = 400 + (numSamples * 150);
            $("#kit_container").css("height", containerHeight + "px");
        }

        function toggleDisableOptions() {
            $(".sample-section").each(function() {
                var $uploadCsvInput = $(this).find("input[type='file']");
                var $generateBarcodesCheckbox = $(this).find("input[type='checkbox']");
                
                $uploadCsvInput.on("change", function() {
                    if ($(this).val()) {
                        $generateBarcodesCheckbox.prop("disabled", true);
                    } else {
                        $generateBarcodesCheckbox.prop("disabled", false);
                    }
                });

                $generateBarcodesCheckbox.on("change", function() {
                    if ($(this).is(":checked")) {
                        $uploadCsvInput.prop("disabled", true);
                    } else {
                        $uploadCsvInput.prop("disabled", false);
                    }
                });
            });
        }

        $("#number_of_samples, #number_of_kits").on("change", function() {
            var numSamples = $("#number_of_samples").val();
            var numKits = $("#number_of_kits").val();
            var newSections = "";
            for (var j = 1; j <= numSamples; j++) {
                newSections += `<div class="sample-section">
                                    <h4>Sample ${j}</h4>
                                    <p>Upload CSV with ${numKits} row(s) of barcode(s) for this sample:</p>
                                    <label for="upload_csv_${j}">Upload CSV file:</label>
                                    <input type="file" name="upload_csv_${j}" id="upload_csv_${j}">
                                    <br>
                                    <label for="generate_barcodes_sample_${j}">Generate Barcodes</label>
                                    <input type="checkbox" name="generate_barcodes_sample_${j}" id="generate_barcodes_sample_${j}">
                                </div>`;
            }
            $("#sample_sections").html(newSections);
            adjustContainerHeight();
            toggleDisableOptions();
        });

        $("#number_of_samples").val(1).trigger('change'); // Default value to 1 on page load
    });
</script>
<style>
    select {
        width: 250px;
        margin: 10px;
    }
    .kit-section {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 20px 0;
    }
    .sample-section {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0;
    }
</style>
{% endblock %}
{% block content %}
<h3>Microsetta Create Kits</h3>
<div id="kit_container" style="height: 600px;">
    {% if error_message %}
        <p style="color:red">
            {{ error_message |e }}
        </p>
    {% endif %}

    <form name="kit_form" id="kit_form" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="number_of_kits">Number of kits: </label></td>
                <td><input type="number" name="number_of_kits" id="number_of_kits" min="1"></td>
            </tr>
            <tr>
                <td><label for="number_of_samples">Samples per kit: </label></td>
                <td><input type="number" name="number_of_samples" id="number_of_samples" min="1" value="1"></td>
            </tr>
            <tr>
                <td><label for="prefix">Kit name prefix (optional): </label></td>
                <td><input type="text" name="prefix" id="prefix"></td>
            </tr>
            <tr>
                <td><label for="project_ids">Projects: </label></td>
                <td><select id="project_ids" name="project_ids" multiple class="chosen-select" size=10>
                    {% if projects %}
                    {% for p in projects %}
                    <option value='{{p['project_id']}}'>{{p['project_name']}}</option>
                    {% endfor %}
                    {% endif %}
                </select></td>
            </tr>
        </table>
        <br>
        <div id="sample_sections"></div>
        <br>
        <input type="submit" value="Create kits">
    </form>
</div>
{% endblock %}
