{% extends "sitebase.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/vendor/DataTables/DataTables-1.10.21/css/jquery.dataTables.css">
<script src="/static/vendor/DataTables/DataTables-1.10.21/js/jquery.dataTables.js"></script>

<script class="init">
    function remove_error_messages () {
        block = document.getElementById("search_errors");
        if (block !== null) {
            block.innerHTML = "";
        }
    };

    $(document).ready(function() {
        {% if resource is not none %}
            $('#search_results').DataTable();
        {% endif %}
    });
</script>
{% endblock %}
{% block content %}
<h3>Account Summaries</h3>
<div>
    <form name="search_form" id="search_form" method="GET">
        <table>
            <tr>
                <td><label for="email">Email: </label></td>
                <td><input type="text" name="email" id="email" {% if info %} value="{{info.email}}"{% endif %}></td>
                <td><label for="project1">Project: </label>
                <input type="text" id="project1" name="project"><br/>
                <td><input type="submit" value="Retrieve Account Summary"></td>
            </tr>
        </table>
        {% if search_error %}
            <p style="color:red" id=search_errors>
            {% for error in search_error %}
                {{error |e}}<br/>
            {% endfor %}
            </p>
        {% endif %}
        <script>
           document.search_form.email.focus()
        </script>
    </form>
    <br/>
    Or upload a file and pull account summaries for all emails listed in the column "email"
    <br/>
    <form name="upload_csv" id="search_csv" method="POST" enctype="multipart/form-data" onsubmit="return remove_error_messages()">
      <br/>
      <label for="project2">Project: </label>
      <input type="text" id="project2" name="project"><br/>
      <input type=file name=file><br/>
      <input type=submit value=Upload>
    </form>

    <hr>
    {% if resource is not none %}
    <div class="result_container">
        <div>
            <table id="search_results" class="display" style="width:100%">
                <thead>
                    <tr>
                        {% for col in resource.columns %}
                        <th>{{col |e}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for row in resource.index %}
                    <tr>
                        {% for col in resource.columns %}
                        {% if col == "account_id" %}
                        <td><a href="{{ ui_endpoint }}/accounts/{{resource.at[row, col] |e}}">{{resource.at[row, col] |e}}</a></td>
                        {% else %}
                        <!-- It's so slow!! -->
                        <td>{{resource.at[row, col] |e}}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
