{% extends "sitebase.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/vendor/DataTables/DataTables-1.10.21/css/jquery.dataTables.css">
<script src="/static/vendor/DataTables/DataTables-1.10.21/js/jquery.dataTables.js"></script>
<script src="/static/vendor/DataTables/Buttons-1.6.2/js/dataTables.buttons.min.js"></script>
<script src="/static/vendor/DataTables/Buttons-1.6.2/js/buttons.html5.min.js"></script>
<script>
    function remove_error_messages () {
        block = document.getElementById("search_errors");
        if (block !== null) {
            block.innerHTML = "";
        }
    };
    $(document).ready(function() {
        {% if resource is not none %}
            $('#search_results').DataTable({
                // more information on "dom" can be found here:
                // https://datatables.net/reference/option/dom
                dom: 'Bfrtip',
                buttons: ['csv']
                }
            );
        {% endif %}
    } );
</script>
{% endblock %}
{% block content %}
<h3>Sample Summaries</h3>
<hr class="dashed">
{% if error_message %}
<p style="color:red">
    {{ error_message |e }}
</p>
{% endif %}
<div style="height: 400px; width: 400px">
    <h5>Retrieve summary for a sample</h5>
    <form name="search_form" id="search_form" method="POST" enctype="multipart/form-data" onsubmit="return remove_error_messages()">
        <table width=100% border=0>
            <tr>
                <td colspan=3 style="text-align:left;padding:4px">
                    <label for="search_field">Select search field:</label>
                    <select id="search_field" name="search_field" onchange="toggleInputType()">
                        <option value="sample_barcode">Barcode</option>
                        <option value="kit_id">Kit ID</option>
                        <option value="email">Email</option>
                        <option value="outbound_tracking">Outbound Tracking Number</option>
                        <option value="inbound_tracking">Inbound Tracking Number</option>
                    </select>
                </td>
            </tr>
            <tr id="text_input_row" style="display: table-row;">
                <td colspan=3 style="text-align:left;padding:4px">
                    <input type="text" name="text_input" placeholder="Enter value here" id="text_input">
                </td>
                <td colspan=1 style="text-align:right;padding:4px">
                    <input type="submit" value="Retrieve">
                </td>
            </tr>
            <tr id="csv_upload_row" style="display: none;">
                <td colspan=3 style="text-align:left;padding:4px">
                    <input type="file" name="file" id="file">
                </td>
                <td colspan=1 style="text-align:right;padding:4px">
                    <input type="submit" value="Upload">
                </td>
            </tr>
            <tr><td colspan=4></td></tr>
            <tr><td colspan=4 style="text-align:center;padding:4px"><i>The selected search field must be in column "<span id="csv_column_name">sample_name</span>"<br>(max: 1000)</i> </td></tr>
            <tr><td colspan=4></td></tr>
            <tr>
                <td colspan=3><label for="strip_sampleid">Check to remove sample IDs from summary</label></td>
                <td colspan=1 style="text-align:center;padding:4px">
                    <input type="checkbox" id="strip_sampleid" name="strip_sampleid">
                </td>
            </tr>
        </table>
    </form>
    <hr class="dashed">
    <h5>Retrieve status for all samples in a project</h5>
    <form name="cc_form" id="cc_form" method="GET">
    <table width=100% border=0>
        <tr>
            <td colspan=3>
            <select id="project_id" name="project_id">
                 {% if projects %}
                    {% for p in projects %}
                        <option value='{{p['project_id']}}'>{{p['project_name']}}</option>
                    {% endfor %}
                 {% endif %}
            </select>
            </td>
            <td colspan=1 style="text-align:right;padding:4px"><input type="submit" value="Retrieve"></td>
        </tr>
    </table>
    <!--
    <table width=100% border=0>
        <tr>
            <td colspan=3>
            <select id="project_ids" name="project_ids" class="chosen-select" size=5>
                {% if projects %}
                    {% for p in projects %}
                        <option value='{{p['project_id']}}'>{{p['project_name']}}</option>
                    {% endfor %}
                {% endif %}
            </select>
            </td>
            <td colspan=1 style="text-align:right;padding:4px"><input type="submit" value="Retrieve"></td>
        </tr>
    </table>
    <script> document.cc_form.project_ids.focus() </script>
    -->
    </form>
</div>
{% if resource is not none %}
<div class="result_container">
{{resource.to_html(table_id="search_results", classes=["display"], render_links=True, escape=False) |safe}}
</div>
{% endif %}
{{blob}}
{% endblock %}
