{% extends "sitebase.html" %}
{% block content %}
<h3>Microsetta Scan</h3>
<div>
    <form name="search_form" id="search_form" method="GET">
        <table>
            <tr>
                <td><label for="sample_barcode">Barcode: </label></td>
                <td><input type="text" name="sample_barcode" id="sample_barcode" {% if barcode_info %} value="{{barcode_info.barcode}}"{% endif %}></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Find Sample"></td>
            </tr>
        </table>
        {% if search_error %}
            <p style="color:red">
            {{search_error |e}}
            </p>
        {% endif %}
        <script>
           document.search_form.sample_barcode.focus()
        </script>
    </form>

    <br>
    <hr>
    <br>

    {% if barcode_info %}
        <div id="sample-status" class="sample-status" style="background-color:{{ status_color }};">
           <div>
                {% if status_warnings %}
                <tr>
                    <td>Status Warnings: </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <ul>
                        {% for warning in status_warnings %}
                            <li>{{warning}}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
            </div>
        </div>
        <form action="/scan" name="update_form" id="update_form" method="post">
        <input type="hidden" name="sample_barcode" value="{{barcode_info.barcode}}"/>
        <table>
            <tr>
                <td>Barcode: </td>
                <td>{{barcode_info.barcode}}</td>
            </tr>
            <tr>
                <td>Projects: </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <ul>
                    {% for proj_info in projects_info %}
                        <li>
                            {{proj_info.project}}
                            {%  if proj_info.bank_samples %}
                                (banked{%  if proj_info.plating_start_date %} until {{ proj_info.plating_start_date }}{% endif %})
                            {%  endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Sample Site: </td>
                <td>{{sample_info.site}}</td>
            </tr>
            <tr>
                <td>Collection date: </td>
                <td>{{ format_timestamp(sample_info.datetime_collected) }}</td>
            </tr>
            <tr>
                <td colspan="100%">
                    {% if scans_info|length > 0 %}
                    <table id="barcode_scans" class="display" style="width:100%;margin: 12px">
                        <thead>
                            <tr>
                                <th>Scan Timestamp</th>
                                <th>Sample Status</th>
                                <th>Technician Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for scan in scans_info %}
                            <tr>
                                <td>{{ format_timestamp(scan['scan_timestamp']) }}</td>
                                <td>{{ scan['sample_status'] }}</td>
                                <td>{{ scan['technician_notes'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        No previous scans
                    {% endif %}
                </td>
            </tr>
            <tr>
              <td colspan="100%"><hr></td>
            </tr>
            <tr>
                <td>Sample Status: </td>
                <td>
                <select id="sample_status" name="sample_status">
                {% for status in ["sample-is-valid",
                         "no-associated-source",
                         "no-registered-account",
                         "no-collection-info",
                         "sample-has-inconsistencies",
                         "received-unknown-validity"] %}
                    <option value="{{status}}">{{status}}</option>
                {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td>Technician Notes: </td>
                <td>
                    <textarea name="technician_notes" rows="10" cols="50"></textarea>
                </td>
            </tr>
            <tr>
                <td/>
                <td><input type="submit" value="Add Scan"></td>
            </tr>
        </table>
    </form>
    {% endif %}
    
    {% if update_error %}
        <p style="color:red">
        {{update_error |e}}
        </p>
    {% endif %}

    <script>
    {% if barcode_info %}
       document.update_form.sample_status.focus();
    {% else %}
       document.search_form.sample_barcode.focus();
    {% endif %}
    </script>
</div>
{% endblock %}
