{% extends "sitebase.html" %}
{% block content %}
<h3>Microsetta Scan</h3>
<div>
    <form name="search_form" id="search_form" method="GET">
        <table>
            <tr>
                <td><label for="sample_barcode">Barcode: </label></td>
                <td><input type="text" name="sample_barcode" id="sample_barcode"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Find Sample"></td>
            </tr>
        </table>
        {% if search_error %}
            <p style="color:red">
            {{search_error |e}}
            </p>
        {% endif %}
    </form>

    <br>
    <hr>
    <br>

    {% if update_error %}
        <p style="color:red">
        {{update_error |e}}
        </p>
    {% endif %}

    {% if barcode_info %}
        <div id="sample-status" class="sample-status" style="background-color:{{ status_color }};">
           <div>
                {% if status_warnings %}
                <tr>
                    <td>Status Warnings: </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <ul>
                        {% for warning in status_warnings %}
                            <li>{{warning}}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
            </div>
        </div>
        <form action="/scan" name="update_form" id="update_form" onsubmit="return verify_status();" method="post">
        <input type="hidden" name="action" value="update_status"/>
        <input type="hidden" name="sample_barcode" value="{{barcode_info.barcode}}"/>
        <table>
            <tr>
                <td>Barcode: </td>
                <td>{{barcode_info.barcode}}</td>
            </tr>
            <tr>
                <td>Projects: </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <ul>
                    {% for proj_info in projects_info %}
                        <li>
                            {{proj_info.project}}
                            {%  if proj_info.bank_samples %}
                                (banked{%  if proj_info.plating_start_date %} until {{ proj_info.plating_start_date }}{% endif %})
                            {%  endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Sample Site: </td>
                <td>{{sample_info.site}}</td>
            </tr>
            <tr>
                <td>Collection date: </td>
                <td>{{ format_timestamp(sample_info.datetime_collected) }}</td>
            </tr>
            <tr>
                <td colspan="100%">
                    {% if scans_info|length > 0 %}
                    <table id="barcode_scans" class="display" style="width:100%;margin: 12px">
                        <thead>
                            <tr>
                                <th>Scan Timestamp</th>
                                <th>Sample Status</th>
                                <th>Technician Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for scan in scans_info %}
                            <tr>
                                <td>{{ format_timestamp(scan['scan_timestamp']) }}</td>
                                <td>{{ scan['sample_status'] }}</td>
                                <td>{{ scan['technician_notes'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        No previous scans
                    {% endif %}
                </td>
            </tr>
            <tr>
              <td colspan="100%"><hr></td>
            </tr>
            <tr>
                <td>Sample Status: </td>
                <td>
                <select id="sample_status" name="sample_status">
                {% for status in [dummy_status,
                         "sample-is-valid",
                         "no-associated-source",
                         "no-registered-account",
                         "no-collection-info",
                         "sample-has-inconsistencies",
                         "received-unknown-validity"] %}
                    <option value="{{status}}" {% if latest_status == status %}selected{% endif %} %}>{{status}}</option>
                {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td>Technician Notes: </td>
                <td>
                    <textarea name="technician_notes" rows="10" cols="50"></textarea>
                </td>
            </tr>
            <tr>
                <td/>
                <td><input type="submit" value="Add Scan"></td>
            </tr>
        </table>
        </form>

        <table>
            <tr>
                <td><b>Event Log:</b> (Most Recent At Top)</td>
            </tr>
            {% for event in events %}
            <tr>
                <td>Time:</td>
                <td><b>{{event["event_time"] |e}}</b></td>
                <td colspan="2"><small><i>{{event["event_id"] |e}}</i></small></td>
            </tr>
            <tr>
                <td>Event Type:</td>
                <td><b>{{event["event_type"] |e}} / {{event["event_subtype"] |e}}</b></td>
            </tr>
            <tr>
                <td>State:</td>
                <td><pre>{{event["event_state"] |tojson_pretty|safe}}</pre></td>
            </tr>
            <hr>
            {% endfor %}
        </table>

        <form action="/scan" name="send_email_form" id="send_email_form" onsubmit="return verify_send_email();" method="post">
        <input type="hidden" name="action" value="send_email"/>
        <input type="hidden" id="issue_type" name="issue_type" value="sample"/>
        <input type="hidden" name="sample_barcode" value="{{barcode_info.barcode}}"/>
        <input type="hidden" name="recorded_type" value="{{sample_info.site}}"/>
        <hr>
        <table>
            <tr>
                <td><b>Issue Resolution</b></td>
            <tr>
                <td>Issue Type:</td>
                <td>
                    <select id="template" name="template">
                        <option value="{{dummy_status}}">{{dummy_status}}</option>
                        <option value="incorrect_sample_type">Incorrect Sample Site</option>
                        <option value="missing_sample_info">Missing Sample Info</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Apparent Sample Site:</td>
                <td>
                    <select id="received_type" name="received_type">
                        {% for received_type in [dummy_status, "Blood (skin prick)", "Saliva", "Ear wax", "Forehead", "Fur", "Hair", "Left hand", "Left leg", "Mouth", "Nares", "Nasal mucus",
                         "Right hand", "Right leg", "Stool", "Tears", "Torso", "Vaginal mucus"] %}
                        <option value="{{received_type |e}}">{{received_type |e}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="submit" value="Email End User"></td>
            </tr>
        </table>
        </form>
    {% endif %}

    <script>
        // prevent submit with dummy status
        function verify_status() {
            let result = true;
            let select_element = document.getElementById("sample_status");
            let selected_status = select_element.options[select_element.selectedIndex].text;
            if (selected_status === '{{ dummy_status }}'){
                result = false;
                alert("A scan cannot be saved without selecting a sample_status.");
            }

            return result;
        }

        function verify_send_email() {
            let result = true;
            let template = document.getElementById("template");
            let received_type = document.getElementById("received_type");

            let template_text = template.options[template.selectedIndex].text;
            let received_type_text = received_type.options[received_type.selectedIndex].text;

            if (template_text === '{{ dummy_status }}' ||
                received_type_text === '{{ dummy_status }}'){
                result = false;
                alert("Technician must select email issue type and specify received sample type before templated email can be sent to user");
            }

            return result;
        }

        document.search_form.sample_barcode.focus();
    </script>
</div>
{% endblock %}
