{% extends "sitebase.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/table_style.css">
<script type="text/javascript" language="javascript" src="/static/js/ruleset.js"></script>
<!--<link rel="stylesheet" type="text/css" href="/static/vendor/DataTables/DataTables-1.10.21/css/jquery.dataTables.css">-->
<script src="/static/vendor/DataTables/DataTables-1.10.21/js/jquery.dataTables.js"></script>
<script src="/static/vendor/DataTables/Buttons-1.6.2/js/dataTables.buttons.min.js"></script>
<script src="/static/vendor/DataTables/Buttons-1.6.2/js/buttons.html5.min.js"></script>
<script>
    function remove_error_messages () {
        block = document.getElementById("search_errors");
        if (block !== null) {
            block.innerHTML = "";
        }
    };
        $(document).ready(function() {
        {% if resource is not none %}
            $('#search_results').DataTable({
                // more information on "dom" can be found here:
                // https://datatables.net/reference/option/dom
                dom: 'Bfrtip',
                buttons: ['csv']
                }
            );
        {% endif %}
    } );
    // prevent submit with dummy status
    function verify_status() {
        let result = true;
        let select_element = document.getElementById("sample_status");
        let selected_status = select_element.options[select_element.selectedIndex].text;
        if (selected_status === '{{ dummy_status }}'){
            result = false;
            alert("A scan cannot be saved without selecting a sample_status.");
        }

        return result;
    }

    $(function(){
        document.search_form.sample_barcode.focus();

        old_status = new NamedExpression("OLD_SAMPLE_STATUS", "{{latest_status}}")
        new_status = new JQuerySelectInput("NEW_SAMPLE_STATUS", "#sample_status")
        user_can_be_emailed = new NotExpression(new EqualsExpression(new_status, new NamedExpression("no-registered-account", "no-registered-account")))
        sample_status_changed = new NotExpression(new EqualsExpression(old_status, new_status))
        send_email = new JQueryCheckboxInput("SEND_EMAIL", "#send_email")

        should_send_email = new AndExpression(send_email, new AndExpression(sample_status_changed, user_can_be_emailed))

        // Notify server of intent to scan during post
        new DelegateOutput(function(should_send){
            if (should_send)
                $("#action_input").prop("value", "send_email")
            else
                $("#action_input").prop("value", "scan_only")
        }, should_send_email);

        // Change scan button text dependent on should_send_email
        new DelegateOutput(function(should_send){
            if (should_send)
                $("#scan_button").prop("value", "Add Scan And Notify User")
            else
                $("#scan_button").prop("value", "Add Scan")
        }, should_send_email);

        // Hide/Show email template inputs based on sample_status select
        new DelegateOutput(function(selected_status){
            if (selected_status == "sample-has-inconsistencies" ||
                selected_status == "no-collection-info")
            {
                $("#email_template_row").addClass('show');
                $("#received_type_row").addClass('show');
            }
            else if (selected_status == "sample-is-valid" ||
                     selected_status == "no-associated-source")
            {
                $("#email_template_row").addClass('show');
                $("#received_type_row").removeClass('show');
            }
            else
            {
                $("#email_template_row").removeClass('show');
                $("#received_type_row").removeClass('show');
            }
        }, new_status);

        // Match email template selection to selected status
        new DelegateOutput(function(selected_status){
            //Remove the current set of options
            $("#email_template option").remove();
            if (selected_status === "no-collection-info")
            {
                $("#email_template").append('<option value="missing_sample_info">Missing Sample Info</option>')
                $("#email_template").val("missing_sample_info")
            }
            else if (selected_status === "sample-has-inconsistencies")
            {
                $("#email_template").append('<option value="incorrect_sample_type">Incorrect Sample Site</option>')
                $("#email_template").val("incorrect_sample_type")
            }
            else if (selected_status === "sample-is-valid")
            {
                $("#email_template").append('<option value="sample_is_valid">Sample Is Valid</option>')
                $("#email_template").val("sample_is_valid")
            }
            else if (selected_status === "no-associated-source")
            {
                $("#email_template").append('<option value="no_associated_source">No Associated Source</option>')
                $("#email_template").val("no_associated_source")
            }
            else
            {
                // Set template options for remaining statuses
            }
        }, new_status);

        // Enable/Disable email template inputs based on whether or not email would be sent
        new JQueryOutput(new NotExpression(should_send_email), ".send_email_disables", 'disabled')

        // Enable/Disable Scan button when input fields remain to be filled
        received_type = new JQuerySelectInput("RECEIVED", "#received_type")
        new DelegateOutput(function(should_send_email, sample_status, received_type){
            var enable = true;
            var not_set = "{{dummy_status}}"

            // Technician cannot set invalid sample status
            if (sample_status === not_set)
                enable = false;

            // Technician cannot send email unless necessary fields are filled in.
            if (should_send_email)
            {
                if (sample_status === 'sample-has-inconsistencies' &&
                    received_type === not_set)
                    enable = false;
                else if (sample_status === 'no-collection-info' &&
                    received_type === not_set)
                    enable = false;
            }

            $("#scan_button").prop("disabled", !enable)
        }, should_send_email, new_status, received_type);

        //Tell technician why email can't be sent if they indicate that they
        // are trying to
        new DelegateOutput(function(send_email, sample_status_changed, user_can_be_emailed){
            if (send_email){
                if (!sample_status_changed)
                    $("#send_email_label_text").text("*Notification will not be sent: Sample Status is unchanged")
                else if (!user_can_be_emailed)
                    $("#send_email_label_text").text("*User cannot be emailed if no account is registered")
                else
                    $("#send_email_label_text").text("")
            }
            else
                $("#send_email_label_text").text("")
        }, send_email, sample_status_changed, user_can_be_emailed)
    });
</script>
<style>
.collapse_sample_status {
  transition: none !important;
}
table
{
    table-layout: fixed;
    width: 100;
}
</style>
{% endblock %}
{% block content %}
<h3>Microsetta Scan - Bulk</h3>
<div>
    <form action="/scan_bulk" name="upload_bulk_csv" id="upload_bulk_csv" method="POST" enctype="multipart/form-data" onsubmit="return remove_error_messages()">
        <table>
            <tr>
                <td><label for="import_csv">import .csv: </label></td>
                <td><input type="text" name="upload_csv_textfield" id="upload_csv_textfield"></td>
                <td><input type="file"
                           name="bulk_csv_file"
                           style="color:transparent;"
                           onchange="document.getElementById('upload_csv_textfield').value = this.value.split('\\').pop().split('/').pop()"></td>

<!--                <td><input type="text" name="upload_csv" id="upload_csv"></td>-->
            </tr>
            <tr>
                <td></td>
                <td><input type=submit value=Notes></td>

            </tr>
        </table>
        {% if search_error %}
            <p style="color:red">
            {{search_error |e}}
            </p>
        {% endif %}
    </form>

{{ tables|safe }}

</div>
{% endblock %}
