<div>
    <form action="{{ url_for('/search/sample') }}" name="form_search_sample" id="form_search_sample" method="post">
        <table>
            <tr>
                <td><input type="text" name="search_samples" id="search_samples"></td>
                <td><input type="submit" value="Search sample"></td>
            </tr>
        </table>
        <script>
           document.form_search_sample.search_samples.focus()
        </script>
    </form>
    <form action="{{ url_for('/search/email') }}" name="form_search_email" id="form_search_email" method="post">
        <table>
            <tr>
                <td><input type="text" name="search_account" id="search_account"></td>
                <td><input type="submit" value="Search email"></td>
            </tr>
        </table>
        <script>
           document.form_search_email.search_account.focus()
        </script>
    </form>
    <form action="{{ url_for('/search/kit') }}" name="form_search_kit" id="form_search_kit" method="post">
        <table>
            <tr>
                <td><input type="text" name="search_kit" id="search_kit"></td>
                <td><input type="submit" value="Search kit ID"></td>
            </tr>
        </table>
        <script>
           document.form_search_kit.search_kit.focus()
        </script>
    </form>
</div>
