<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Microsetta Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="/static/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/ma_interface.css" />
<style>
    .modal-backdrop {
        /* bug fix - no overlay */
        display: none;
    }
</style>

<!-- jquery must be enabled before bootstrap for collapsible functionality -->
<script src="/static/vendor/js/jquery-3.4.1.min.js"></script>
<script src="/static/vendor/js/jquery.validate.min.js"></script>
<script src="/static/vendor/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
<script type="application/javascript">
    function showWait(url_to_load){
        $('#wait').modal('show');
        if (url_to_load != null){
            window.location.replace(url_to_load);
        }
    }
</script>

{% block head %}
{% endblock %}

</head>

<body>
    <div class="menu">
        <h3>Microsetta Utilities</h3>

        <ul class="mainmenu">
            {% if email %}
            <li><a href="/search">Search</a></li>
            <li><a href="#" onclick="showWait('/manage_projects?is_active=true')">Manage Projects</a></li>
            <li><a href="/create_kits">Create Kit</a></li>
            <li><a href="/scan">Scan Barcode</a></li>
            <li><a href="/metadata_pulldown">Retrieve Metadata</a></li>
            <li><a href="{{authrocket_url}}/logout?redirect_uri={{endpoint}}/logout">Log Out <br> ({{email |e}})</a></li>
            {% else %}
            <li><a href="{{authrocket_url}}/login?redirect_uri={{endpoint}}/authrocket_callback">Log In</a></li>
            {% endif %}

        </ul>
    </div>

  <div class="content">
<!-- wait modal -->
<div class="modal fade bs-example-modal-sm" id="wait" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    Gathering data ...
                </div>
                <div class="d-flex justify-content-center">
                    <div class="spinner-grow" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end wait modal -->
    {% block content %}
    {% endblock %}
  </div>
  </body>
</html>
