<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Microsetta Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="/static/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/ma_interface.css" />

{% block head %}
{% endblock %}

</head>

<body>
    <div class="menu">
        <h3>Microsetta Utilities</h3>

        <ul class="mainmenu">
            {% if email %}
            <li><a href="/search">Search</a></li>
            <li><a href="/manage_projects">Manage Projects</a></li>
            <li><a href="/create_kits">Create Kit</a></li>
            <li><a href="/scan">Scan Barcode</a></li>
            <li><a href="/metadata_pulldown">Retrieve Metadata</a></li>
            <li><a href="{{authrocket_url}}/logout?redirect_uri={{endpoint}}/logout">Log Out <br> ({{email |e}})</a></li>
            {% else %}
            <li><a href="{{authrocket_url}}/login?redirect_uri={{endpoint}}/authrocket_callback">Log In</a></li>
            {% endif %}

        </ul>
    </div>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  </body>
</html>
