{% extends "sitebase.html" %}

{% block head %}

<style type="text/css">
    .extended-width {
        width: 600px;
    }

    .error {
        color: red;
    }

    .success {
        color: green;
    }
</style>
<script src="/static/vendor/js/jquery.validate.min.js"></script>
<script src="/static/vendor/js/additional-methods.min.js"></script>
<script>
    function onHoldFulfillmentChange(chkbx) {
        $("#fulfillment_hold_msg").prop("disabled", !chkbx.checked);
    }

    $(document).ready(function(){
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[name='new_daklapack_order']").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                projects: "required",
                dak_article: "required",
                addresses_file: "required",
                fulfillment_hold_msg: "required",
                //NB: validation is NOT applied to "hidden" inputs.
                // However, if this is ever changed to user-facing,
                // this should validate it ;)
                contact_phone_number: {
                    phoneUS: true,
                    required: true
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function (form) {
                    form.submit();
                }
            }
        });
    });
</script>

{% endblock %}
{% block content %}

<h3>Submit Daklapack Order</h3>
{% if error_message %}
<p class="error">ORDER SUBMISSION FAILED.  Please see error information below:</p>
{% autoescape false %}
{{ error_message }}
{% endautoescape %}

{% elif success_message %}
{% autoescape false %}
<div class="success">
    <p>{{ success_message }}</p>
</div>
{% endautoescape %}

{% else %}

<div class="extended-width">
    <form name="new_daklapack_order" class="form-horizontal" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="contact_phone_number" id="contact_phone_number" value="{{ contact_phone_number }}" />
        <div class="form-group row">
            <label for="projects" class="control-label col-sm-4">Project(s) </label>
            <div class="col-sm-8">
                <select name="projects" id="projects" multiple>
                    {% for p in projects %}
                    <option value='{{p['project_id']}}'>{{p['project_name']}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="dak_article_code" class="control-label col-sm-4">Article</label>
            <div class="col-sm-8">
                <select name="dak_article_code" id="dak_article_code">
                    <option value="">{{ dummy_status }}</option>
                    {% for dak_article in dak_articles %}
                    <option value="{{ dak_article.dak_article_code }}">{{ dak_article.short_description }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="addresses_file" class="control-label col-sm-4">Addresses</label>
            <div class="col-sm-8">
                <input type="file" name="addresses_file" id="addresses_file" />
            </div>
        </div>
        <hr />
        <p>
            <strong>Optionals:</strong>
        </p>
        <div class="form-group row">
            <label for="description" class="control-label col-sm-4">Description</label>
            <div class="col-sm-8">
                <input type="text" name="description" id="description" />
            </div>
        </div>
        <div class="form-group row">
            <label for="fedex_ref_1" class="control-label col-sm-4">FedEx Reference 1</label>
            <div class="col-sm-8">
                <input type="text" name="fedex_ref_1" id="fedex_ref_1" />
            </div>
        </div>
        <div class="form-group row">
            <label for="fedex_ref_2" class="control-label col-sm-4">FedEx Reference 2</label>
            <div class="col-sm-8">
                <input type="text" name="fedex_ref_2" id="fedex_ref_2" />
            </div>
        </div>
        <div class="form-group row">
            <label for="fedex_ref_3" class="control-label col-sm-4">FedEx Reference 3</label>
            <div class="col-sm-8">
                <input type="text" name="fedex_ref_3" id="fedex_ref_3" />
            </div>
        </div>
        <div class="form-group row">
            <label for="hold_fulfillment_chkbx" class="control-label col-sm-4"><strong>HOLD FULFILLMENT</strong></label>
            <div class="col-sm-8">
                <input type="checkbox" id="hold_fulfillment_chkbx" name="hold_fulfillment_chkbx" value="hold"
                       onchange="onHoldFulfillmentChange(this);" />
                <br />
                <textarea id="fulfillment_hold_msg" name="fulfillment_hold_msg" rows="5" disabled></textarea>
            </div>
        </div>    
        <hr />
        <div class="form-group row">
            <div class="col text-center">
                <input type="submit">
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}